body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', serif;
}

#header {
    background-color: #333366;
    color: #ccffff;
    padding: 15px;
    padding-left: 40px;
    height: 60px;
}

#content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9ebee;
}

#footer {
    background-color: #333366;
    color: #ccffff;
    padding: 15px;
}

.page {
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 0 0 0 1px #ccc;
    padding: 50px;
    border-radius: 5px;
    overflow: auto;
}

.comments {
    margin-top: 25px;
    width: 80%;
}
.comments textarea {
    margin-bottom: 10px;
}

#cards .row {
    margin-top: 25px;
}

#cards .card-header h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cards .card-header h4:hover {
    overflow: visible;
    white-space: normal;
    height: auto; /* just added this line */
}

.pointerCursor:hover,
button:hover,
select:hover,
.pointerCursor {
    cursor: pointer;
}

.extraPadding {
    padding-bottom: 100px;
    padding-top: 150px;
}
